:root {
    --background: #264653; 
    --button: #2a9d8f;
    --text: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 1em;
}

a {
    color: var(--text);
    text-decoration: none;
}

li {
    list-style: none;
}

.image {
    width: 100%;
}



.button {
    background-color: var(--button);
    padding: 1em;
    border: black solid 2px;
    border-radius: 1.5em;
}

@media (max-width: 670px) {

    .options {
        display: flex;
        margin-top: 1em;
        flex-direction: column;
        gap: 0.5em;
        text-align: center;
    }

}

@media (min-width: 670px) {

    .content {
        display: flex;
        flex-direction: row;
        max-height: calc(100vh - 2em); ;
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-left: 1em;
    }

    img {
        display: block;
        height: 100%;
    }
    
}